<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                广告位列表
                <button class="close" aria-label="Close" (click)="refresh()">
                    <div class="icon">
                        <i class="eva-icon-container">
                            <i [innerHTML]="icon | eva: { animationType: 'pulse' }"></i>
                        </i>
                    </div>
                </button>
            </nb-card-header>
            <nb-card-body>
                <form #l="ngForm" (ngSubmit)="onSubmit(l)">

                    <div class="row" *ngIf="dataService.permissionData.AD.search">
                        <div class="col-md-2">
                            <label>广告位id</label>
                            <input type="text" class="form-control" name="id" ngModel
                                   onkeyup="this.value=this.value.replace(/\s+/g,'')"
                                   onafterpaste="this.value=this.value.replace(/\s+/g,'')">
                        </div>
                        <div class="col-md-2">
                            <label>广告位标题</label>
                            <input type="text" class="form-control" name="name" ngModel
                                   onkeyup="this.value=this.value.replace(/\s+/g,'')"
                                   onafterpaste="this.value=this.value.replace(/\s+/g,'')">
                        </div>
                    </div>


                    <div class="row mt-md-2">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary "
                                    *ngIf="dataService.permissionData.AD.search">查询
                            </button>
                            <button class="btn btn-primary ml-md-2" (click)="createAdSpace()" type="button"
                                    *ngIf="dataService.permissionData.AD.add">创建广告位
                            </button>
                        </div>
                    </div>

                </form>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-body>
                <ng2-smart-table [settings]="settings" [source]="source">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>
