<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                消息列表
                <button class="close" aria-label="Close" (click)="refresh()">
                    <div class="icon">
                        <i class="eva-icon-container">
                            <i [innerHTML]="icon | eva: { animationType: 'pulse' }"></i>
                        </i>
                    </div>
                </button>
            </nb-card-header>
            <nb-card-body>
                <form class="form">

                    <div class="row" *ngIf="dataService.permissionData.MESSAGE.search">
                        <div class="col-md-2 ">
                            <label>消息模板创建时间</label>
                            <input nbInput class="form-control" placeholder="选择时间" [owlDateTime]="formpicker"
                                   [owlDateTimeTrigger]="formpicker">
                            <owl-date-time style="margin: 0" #formpicker></owl-date-time>
                        </div>
                        <div class="col-md-2 ">
                            <label>-</label>
                            <input nbInput class="form-control" placeholder="选择时间" [owlDateTime]="formpicker1"
                                   [owlDateTimeTrigger]="formpicker1">
                            <owl-date-time style="margin: 0" #formpicker1></owl-date-time>
                        </div>
                        <div class="col-md-2">
                            <label>微信模板id</label>
                            <input type="text" class="form-control" placeholder="xxx">
                        </div>
                        <div class="col-md-2">
                            <label>消息标题</label>
                            <input type="text" class="form-control" placeholder="xxx">
                        </div>
                    </div>


                    <div class="row mt-md-3">
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary "
                                    *ngIf="dataService.permissionData.MESSAGE.search">查询
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary" *ngIf="dataService.permissionData.MESSAGE.add"
                                    (click)="createMessageModel()">创建消息模板
                            </button>
                        </div>
                    </div>


                </form>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-body>
                <ng2-smart-table [settings]="settings" [source]="source">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>
