<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                活动关联商品管理
                <button class="close" aria-label="Close" (click)="refresh()">
                    <div class="icon">
                        <i class="eva-icon-container">
                            <i [innerHTML]="icon | eva: { animationType: 'pulse' }"></i>
                        </i>
                    </div>
                </button>
            </nb-card-header>
            <nb-card-body>
                <form #f="ngForm" (ngSubmit)="onSubmit(f)">

                    <div class="row" *ngIf="dataService.permissionData.ACTIVITY.search">
                        <div class="col-md-2">
                            <label>活动商品id</label>
                            <input type="text" class="form-control" name="id" ngModel="">
                        </div>
                        <div class="col-md-2">
                            <label>活动商品名称</label>
                            <input type="text" class="form-control" name="name" ngModel="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary mt-4"
                                    *ngIf="dataService.permissionData.ACTIVITY.search">查询
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary mt-4"
                                    *ngIf="dataService.permissionData.ACTIVITY.add" (click)="addCommodity()">添加关联商品
                            </button>
                        </div>
                    </div>

                </form>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-body>
                <ng2-smart-table [settings]="settings" [source]="source">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>
