<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                月结规则
                <button class="close" aria-label="Close" (click)="refresh()">
                    <i class="nb-loop-circled" [nbPopover]="icon"></i>
                </button>
            </nb-card-header>
            <nb-card-body>
                <form class="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
                    <div class="row mt-md-2">
                        <div class="col-md-1 d-flex justify-content-end align-items-center">
                            设置每月
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="date"
                                   [ngModel]="data&&data.date?data.date:''">
                        </div>
                        <div class="col-md-2 d-flex justify-content-start align-items-center">
                            日，处理上个自然月的所有佣金。
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </div>

                </form>
            </nb-card-body>
        </nb-card>

    </div>
</div>

