<div class="row">
    <div class="col-md-12">
        <nb-card class="mb-0">
            <nb-card-header>
                <span>{{ modalHeader }}</span>
                <button class="close" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </nb-card-header>
            <nb-card-body>
                <form #f='ngForm' (ngSubmit)="onSubmit(f)">
                    <div class="row">
                        <div class="col-md-4 offset-md-1">
                            <label>商品编号</label>
                            <input type="text" (change)="goodsChange($event)" [disabled]="!isEdit"
                                   [ngModel]="rowData&&rowData.goodsId?rowData.goodsId:''" name="goodsId"
                                   class="form-control" placeholder="xxx">
                        </div>
                        <div class="col-md-4 ">
                            <label>商品缩略图</label>
                            <div class="secondBorder">
                                <div class="imgBorder" *ngFor="let t of entrance[0].showFileList">
                                    <button class="imgButton" type="button" (click)="delImg(t,'showImgs')"
                                            *ngIf="isEdit">&times;
                                    </button>
                                    <img src="{{ t.src }}" class="img">
                                    <label class="imgName">{{t.name}}</label>
                                </div>
                                <div class="imgBorder" *ngIf="entrance[0].showFileList.length===0&&isEdit">
                                    <img src="assets/images/add.png" class="add">
                                    <input (change)="fileChange($event,'showImgs')" class="selectFile" type="file"
                                           placeholder="Upload file"
                                           accept=".jpg,.gif,.png,.jpeg"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div *ngIf="commodityData">商品标题：{{commodityData.simpleName}}</div>
                            <div *ngIf="commodityData">商品类目：{{commodityData.categoryName}}</div>
                            <div *ngIf="commodityData">卖家昵称：{{commodityData.sellerName}}</div>
                            <div style="color: red;" *ngIf="!commodityData">无对应商品</div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-2 offset-md-1">
                            <label>启用时间</label>
                            <input nbInput class="form-control" placeholder="开始时间" [owlDateTime]="formpicker11"
                                   [ngModel]="rowData&&rowData.start?rowData.start:''" name="start" [disabled]="!isEdit"
                                   [owlDateTimeTrigger]="formpicker11">
                            <owl-date-time style="margin: 0" #formpicker11></owl-date-time>

                        </div>
                        <div class="col-md-2">
                            <label>-</label>
                            <input nbInput class="form-control" placeholder="结束时间" [owlDateTime]="formpicker22"
                                   [ngModel]="rowData&&rowData.end?rowData.end:''" name="end" [disabled]="!isEdit"
                                   [owlDateTimeTrigger]="formpicker22">
                            <owl-date-time style="margin: 0" #formpicker22></owl-date-time>
                        </div>
                    </div>

                    <div class="row mt-md-2">
                        <div class="col-md-4 offset-md-1">
                            <label>启用状态</label>
                            <select class="form-control" [ngModel]="rowData&&rowData.state?rowData.state:''"
                                    [disabled]="!isEdit" name="state">
                                <option></option>
                                <option>开启</option>
                                <option>关闭</option>
                            </select>
                        </div>
                    </div>


                    <div class="row mt-md-4" *ngIf="isEdit">
                        <div class="col-md-2 offset-md-4">
                            <button nbButton hero class="btn btn-danger full-width" style="width: 100%" type="button"
                                    status="danger"
                                    (click)="cancel()">取消
                            </button>
                        </div>
                        <div class="col-md-2 ">
                            <button nbButton hero class="btn btn-danger full-width" style="width: 100%" type="submit"
                                    status="success">保存
                            </button>
                        </div>
                    </div>
                </form>

            </nb-card-body>
        </nb-card>
    </div>
</div>
