<div class="row">
    <div class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-4">
        <nb-card size="large" class="d-flex flex-column align-items-center justify-content-center">
            <h1>待发货订单</h1>
            <h2><span style="color:red">{{data1}}</span>笔</h2>
        </nb-card>
    </div>

    <div class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-4">
        <nb-card size="large" class="d-flex flex-column align-items-center justify-content-center">
            <h1>已发货订单</h1>
            <h2><span style="color:red">{{data2}}</span>笔</h2>
        </nb-card>
    </div>
    <div class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-4">
        <nb-card size="large" class="d-flex flex-column align-items-center justify-content-center">
            <h1>退款退货订单</h1>
            <h2><span style="color:red">{{data3}}</span>笔</h2>
        </nb-card>
    </div>
</div>

