<div class="row">
    <div class="col-md-12">
        <nb-card class="mb-0">
            <nb-card-header>
                <span>{{ modalHeader }}</span>
                <button class="close" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </nb-card-header>
            <nb-card-body>
                <form #l="ngForm" (ngSubmit)="onSubmit(l)">
                    <div class="row">
                        <div class="col-md-2 offset-md-1">
                            <label>用户id：</label>
                            <label>{{data && data.userId ? data.userId : ''}}</label>
                            <!--<input type="text" name="userId" disabled class="form-control" placeholder=" "-->
                            <!--[ngModel]="data&&data.userId?data.userId:''">-->
                        </div>
                        <div class="col-md-4 ">
                            <label>用户创建时间：</label>
                            <label>{{data && data.createTime ? data.createTime : ''}}</label>
                            <!--<input type="text" name="createTime" disabled class="form-control"-->
                            <!--placeholder="2018/10/25 10:00"-->
                            <!--[ngModel]="data&&data.createTime?data.createTime:''">-->
                        </div>
                        <div class="col-md-2">
                            <label><span style="color: red">*</span>用户名</label>
                            <input type="text" name="nickName" [disabled]="isEdit" class="form-control"
                                   placeholder=" "
                                   [ngModel]="data&&data.nickName?data.nickName:''">
                        </div>
                        <div class="col-md-2 position-relative">
                            <!--尚无此参数名-->
                            <label>用户头像</label>
                            <div class="secondBorder position-absolute">
                                <div class="imgBorder" *ngFor="let t of entrance[0].showFileList">
                                    <button class="imgButton" *ngIf="!isEdit" (click)="delImg(t,'headPortraitUrl')">
                                        &times;
                                    </button>
                                    <img src="{{ t.src }}" class="img">
                                    <label class="imgName">{{t.name}}</label>
                                </div>
                                <div class="imgBorder" *ngIf="entrance[0].showFileList.length===0&&!isEdit">
                                    <img src="assets/images/add.png" class="add">
                                    <input (change)="fileChange($event,'headPortraitUrl')" class="selectFile"
                                           type="file"
                                           placeholder="Upload file"
                                           accept=".jpg,.gif,.gif,.png,.jpeg"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-md-2">
                        <div class="col-md-2 offset-md-1">
                            <label>真实姓名</label>
                            <input type="text" name="realName" disabled class="form-control"
                                   placeholder=" "
                                   [ngModel]="data&&data.realAuthData&&data.realAuthData.realNameCopy?data.realAuthData.realNameCopy:''">
                        </div>
                        <div class="col-md-2">
                            <label>身份证号</label>
                            <input type="text" name="idCard" disabled class="form-control" placeholder=" "
                                   [ngModel]="data&&data.realAuthData&&data.realAuthData.idCardCopy?data.realAuthData.idCardCopy:''"
                                   onkeyup="this.value=this.value.replace(/\D/g,'')"
                                   onafterpaste="this.value=this.value.replace(/\D/g,'')">
                        </div>
                        <div class="col-md-2" *ngIf="!isEdit">
                            <label class="d-block">&nbsp;</label>
                            <button class="btn btn-hero-danger full-width" (click)="delIdCard()"
                                    type="button">删除身份证绑定
                            </button>
                        </div>
                    </div>


                    <div class="row mt-md-2">
                        <div class="col-md-2 offset-md-1">
                            <label>绑定手机号</label>
                            <input type="tel" name="telephone" [disabled]="isEdit" class="form-control"
                                   placeholder=" "
                                   [ngModel]="data&&data.telephone?data.telephone:''"
                                   (keyup)="phoneChange($event)"
                                   onafterpaste="this.value=this.value.replace(/\D/g,'')">
                        </div>
                        <div class="col-md-2">
                            <label><span style="color: red">*</span>绑定微信号</label>
                            <input type="text" name="wechatNumber" [disabled]="isEdit" class="form-control"
                                   placeholder=" "
                                   [ngModel]="data&&data.wechatNumber?data.wechatNumber:''">
                        </div>
                    </div>


                    <div class="row mt-md-2">
                        <div class="col-md-2 offset-md-1">
                            <label>用户余额</label>
                            <input type="number" name="balance" [disabled]="isEdit" class="form-control" placeholder=" "
                                   [ngModel]="data&&data.balance!==''?data.balance:''">
                        </div>
                        <!--<div class="col-md-2">-->
                        <!--<label><span style="color: red">*</span>用户身份</label>-->
                        <!--<input type="text" name="userRole" disabled="true" class="form-control" value="买家">-->
                        <!--</div>-->
                        <!--<div class="col-md-2 d-flex align-content-center justify-content-center">-->
                        <!--<nb-checkbox name="sellerOrNot" [value]="sellerOrNot" [disabled]="isEdit" ngModel>卖家-->
                        <!--</nb-checkbox>-->
                        <!--</div>-->
                        <div class="col-md-2">
                            <label><span style="color: red">*</span>用户身份</label>
                            <select class="form-control" name="isSeller" [disabled]="isEdit"
                                    [ngModel]="data&&data.isSeller?data.isSeller:''">
                                <option></option>
                                <option>买家</option>
                                <option>卖家</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label><span style="color: red">*</span>会员等级</label>
                            <select class="form-control" name="rank" [disabled]="isEdit"
                                    [ngModel]="data&&data.rank?data.rank:''">
                                <option></option>
                                <option>普通用户</option>
                                <option>会员用户</option>
                                <option>合伙人</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label><span style="color: red">*</span>用户状态</label>
                            <select class="form-control" name="userStatus" [disabled]="isEdit"
                                    [ngModel]="data&&data.userStatus?data.userStatus:''">
                                <option></option>
                                <!--value="NORMAL"-->
                                <!--value="FROZENFUNDS"-->
                                <!--value="FROZENLOGIN"-->
                                <option>正常</option>
                                <option>冻结资金</option>
                                <!--<option>冻结登录</option>-->
                            </select>
                        </div>
                    </div>

                    <div class="row mt-md-2">
                        <div class="col-md-2 offset-md-1">
                            <label>邀请人Id</label>
                            <input type="text" name="parent" [disabled]="isEdit" class="form-control" placeholder=" "
                                   [(ngModel)]="parentId">
                        </div>
                        <div class="col-md-2">
                            <label>&nbsp;</label>
                            <button class="btn btn-hero-danger" style="width: 100%" (click)="addParent()" type="button">
                                更改上级
                            </button>
                        </div>
                        <div class="col-md-2 d-flex align-items-center" *ngIf="parentId">
                            <label>邀请关系：{{parentId&&data&&data.rank&&data.rank==='普通用户'?'直接粉丝':'直接会员'}}</label>
                        </div>
                    </div>

                    <div class="row mt-md-4">
                        <div class="col-md-6 offset-md-1">
                            <label class="fs font-weight-bold">用户银行管理</label>
                        </div>
                    </div>

                    <div class="row mt-md-2" *ngFor="let item of data.bankCardList;let index = index">
                        <div class="col-md-2 offset-md-1">
                            <label>提现银行</label>
                            <input type="text" [disabled]="isEdit" [name]="index+'bank'" class="form-control"
                                   placeholder="请输入提现银行" [(ngModel)]="item.bankName">
                        </div>
                        <div class="col-md-2">
                            <label>银行卡号</label>
                            <input type="tel" [disabled]="isEdit" [name]="index+'bankNumber'" class="form-control"
                                   placeholder="请输入银行卡号" [ngModel]="item.cardIdCopy"
                                   (keyup)="bankCardChange($event,index)">
                        </div>
                        <div class="col-md-2" *ngIf="!isEdit">
                            <label class="d-block">&nbsp;</label>
                            <button class="btn btn-hero-danger" type="button" (click)="delBank(index)">删除银行</button>
                        </div>

                    </div>
                    <div class="row mt-md-4" *ngIf="!isEdit">
                        <div class="col-md-6 offset-md-1">
                            <button class="btn btn-hero-primary" style="width: 100%" (click)="addBank()" type="button">
                                添加提现银行
                            </button>
                        </div>
                    </div>
                    <div class="row mt-md-4 ">
                        <div class="col-md-6 offset-md-1">
                            <label class="FontLarger font-weight-bold">用户地址管理</label>
                        </div>
                    </div>

                    <div class="row mt-md-2" *ngFor="let item of data.addressListCopy;let index = index">
                        <div class="col-md-2 offset-md-1">
                            <label>收货地址</label>
                            <!--<input type="text" [disabled]="isEdit" [name]="index+'area'" class="form-control" placeholder="区域" [(ngModel)]="item.area">-->
                            <ngx-address [(ngModel)]="item.address.id"
                                         [options]="item.address.options"
                                         [name]="index+'address'"></ngx-address>
                        </div>
                        <div class="col-md-2">
                            <label>详细地址</label>
                            <input type="text" [disabled]="isEdit" [name]="index+'detail'" class="form-control"
                                   placeholder="详细地址" [(ngModel)]="item.detail">
                        </div>
                        <div class="col-md-2">
                            <label>手机号</label>
                            <input type="tel" [disabled]="isEdit" [name]="index+'mobileNumber'" class="form-control"
                                   placeholder="手机号" [(ngModel)]="item.mobileNumber"
                                   onkeyup="this.value=this.value.replace(/\D/g,'')"
                                   onafterpaste="this.value=this.value.replace(/\D/g,'')">
                        </div>
                        <div class="col-md-2">
                            <label>收货人</label>
                            <input type="text" [disabled]="isEdit" [name]="index+'receiver'" class="form-control"
                                   placeholder="收货人" [(ngModel)]="item.receiver">
                        </div>
                        <div class="col-md-2" *ngIf="!isEdit">
                            <label class="d-block">&nbsp;</label>
                            <button class="btn btn-hero-danger" type="button" (click)="delAddress(index)">删除地址</button>
                        </div>
                    </div>
                    <div class="row mt-md-4" *ngIf="!isEdit">
                        <div class="col-md-6  offset-md-1">
                            <button class="btn btn-hero-primary"
                                    style="width: 100%"
                                    (click)="addAddress()" type="button">添加收货地址
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <!--<div class="col-md-12">-->
                        <!--<div class="form-group col-md-4" *ngFor="let i of address">-->
                        <!--<label>{{i.type}}</label>-->
                        <!--<ngx-address [(ngModel)]="i.id" [options]="i.options" name="address" (onSelected)="test($event)"></ngx-address>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>

                    <div class="row mt-md-2">
                        <div class="col-md-12">
                            <label>登录历史</label>
                            <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
                        </div>
                    </div>

                    <div class="row mt-md-4" *ngIf="!isEdit">
                        <div class="col-md-2 offset-md-4">
                            <button nbButton hero class="btn btn-danger full-width" status="danger"
                                    (click)="closeModal()"
                                    type="button">返回
                            </button>
                        </div>
                        <div class="col-md-2 ">
                            <button nbButton hero class="btn btn-danger full-width" status="success"
                                    type="submit">保存
                            </button>
                        </div>
                    </div>
                </form>

            </nb-card-body>
        </nb-card>
    </div>
</div>

